/* Calendar container */
.rbc-calendar {
  background-color: white;
  color: rgb(104, 98, 98);
}

/* Header */
.rbc-toolbar {
  background-color: #f3f4f6;
  padding: 10px;
}

/* Today's date */
.rbc-today {
  background-color: #e5edff !important;
}

/* Selected time slot */
.rbc-selected {
  background-color: #3b82f6 !important;
}

/* Events */
.rbc-event {
  background-color: #3b82f6 !important;
  border: none !important;
}

/* Time grid */
.rbc-time-content {
  border-top: 1px solid #e5e7eb;
}

/* Time slots */
.rbc-timeslot-group {
  border-bottom: 1px solid #e5e7eb;
}

.meetings-indicator {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 4px;
}

.meeting-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #3b82f6;
} 